body, ul, form, dl, dt, dd, p {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
}
h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
h1, h2 {
    line-height: 0;
    text-indent: -9999px;
}
ul {
    list-style: outside none none;
}
img {
    border: 0 none;
}
body {
    color: #666666;
    font: 12px/1.5 Arial;
}
.clear {
    clear: both;
}
.clearfix {
}
.clearfix::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
p {
    margin: 0;
    padding: 0;
}
a:link, a:visited {
    color: #0f3f94;
    text-decoration: none;
}
a:hover {
    color: #f00;
    text-decoration: underline;
}
.l {
    float: left;
}
.r {
    float: right;
}
.wrap {
    margin: 0 auto;
    width: 550px;
}
.red {
    color: #f00;
}
.orange {
    color: #f60;
}
.blue {
    color: #0f3f94;
}
.black, a.black, a.black:visited {
    color: #666666;
}
a.black:hover {
    color: #f00;
}
.gray, .gray a, a.gray {
    color: #999999;
}
div.gund {
    background-image: url("images/lba.png");
    background-position: 5px 0;
    background-repeat: no-repeat;
    float: left;
    height: 22px;
    overflow: hidden;
    text-indent: 18px;
    width: 90%;
}
#fp {
    float: left;
    line-height: 30px;
}
#fp a {
    color: #666;
}
#header {
    border-bottom: 2px solid #ee2123;
    height: 99px;
    left: 2000px;
}
#logo a, h2 {
    background: rgba(0, 0, 0, 0) url("new_login_btn.png") no-repeat scroll 0 0;
}
#logo a {
    background: rgba(0, 0, 0, 0) url("/images/v1/logo.png") no-repeat scroll 0 0;
    display: block;
    height: 83px;
    left: 200px;
    margin-top: 10px;
    overflow: hidden;
    text-indent: -2000em;
    width: 230px;
}
h2 {
    background-position: -167px -250px;
    display: block;
    height: 50px;
    margin: 10px 0 0 10px;
    overflow: hidden;
    width: 83px;
}

/*
#menu {height: 33px; width: 220px;}
#menu li {width:100px;height:33px;line-height:33px;text-align:center;margin-left:5px;_margin-left:0px;display:inline;float:left;}
#maintitle {width:678px;line-height:30px;background-color:#edeeee;color:#292A36;font-weight:bold;font-size:14px;padding-left:5px;}
*/
#reg_content {clear:both;min-height:354px;height:auto;_height:554px;width:694px;margin-top:12px;margin-right:auto;margin-left:auto;}
#content_reg_box_top {background:url(../images/v1/login_v10.png) no-repeat 0px -95px;height: 4px;overflow: hidden;}
#content_reg_box_center {background-image: url(../images/v1/content_reg_box_center.jpg);background-repeat: repeat-y;}
#content_reg_box_bottom {background:url(../images/v1/login_v10.png) no-repeat 0px -107px;height:4px;overflow: hidden;}

#maincontent {width:678px;height:auto;margin:20px auto -2px auto; margin:20px auto 0px auto;}
.content_reg_line {line-height:28px;height:auto;min-height:50px;_height:50px;width:633px;margin-top:1px;clear:both;}
.form_title {line-height:28px;color:#282A35;float:left;display:inline;text-align:right;width:110px;}
.form_word {line-height:28px;color:#666666;margin-left:5px;display:inline;vertical-align:middle;}

input,button,textarea,select{font-size:inherit;*font-size:100%; font-family:inherit;vertical-align:middle;font-size:12px;}
.inputBox{ height:37px; line-height:37px; background:url(../images/v1/login_v10.png) left -169px no-repeat; float:left; padding:0 0 0 5px; }
.inputBox cite{height:37px; line-height:37px;background:url(../images/v1/login_v10.png) right -169px no-repeat;  width:190px; float:left; padding:0 7px 0 0;}
.inputBox cite input.text{ font-size:14px;border:none; background:none; height:20px; padding:8px 3px;*padding:7px 3px 10px;  line-height:20px; width:100%;color:#666;}
.inputGreen{background: url(../images/v1/login_v10.png) left -116px no-repeat;}
.inputGreen cite{background: url(../images/v1/login_v10.png) right -116px no-repeat;}
.inputRed{background: url(../images/v1/login_v10.png) left -216px no-repeat;}
.inputRed cite{background: url(../images/v1/login_v10.png) right -216px no-repeat;}
.input60 cite{ width:60px;}
.input100 cite{ width:100px;}
.input140 cite{ width:140px;}
.input180 cite{ width:180px;}

.inputSubmit{ width:104px; height:30px; background: url(../images/v1/login_v10.png) 0px -260px no-repeat; }
.inputNext{ width:104px; height:30px; background: url(../images/v1/login_v10.png) -113px -260px no-repeat; }
.btn_next{cursor:pointer;border:0px;height:26px;width:79px;vertical-align: middle;background:url("../images/v1/left.png") repeat-x 0px -351px}
.btn_submit{cursor:pointer;border:0px;height:26px;width:69px;vertical-align: middle;background:url("../images/v1/left.png") repeat-x 0px -405px}