/* CSS Document */
body {
    color: #666;
    font-family: Simsun,sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}
div,ul,li{margin:0 auto;padding:0;}
ul{list-style:none;}
a{text-decoration:none;color:#666666;}
a:visited {text-decoration:none;color:#666666;}
a:hover {text-decoration:underline;color:#FA7908;}
a:active {color:#FA7908;text-decoration:underline;}

.top{height:120px; text-align:center; padding-top:60px;}

#allbox {height:100%; width:100%;}
#header {
    border-bottom: 2px solid #ee2123;
    height: 99px;
    left: 2000px;

#logo a, h2 {
    background: rgba(0, 0, 0, 0) url("new_login_btn.png") no-repeat scroll 0 0;
}
#logo a {
    background: rgba(0, 0, 0, 0) url("/images/v1/logo.png") no-repeat scroll 0 0;
    display: block;
    height: 83px;
    left: 200px;
    margin-top: 10px;
    overflow: hidden;
    text-indent: -2000em;
    width: 230px;
}

/*
#menu {height: 33px; width: 220px;}
#menu li {width:100px;height:33px;line-height:33px;text-align:center;margin-left:5px;_margin-left:0px;display:inline;float:left;}
#maintitle {width:678px;line-height:30px;background-color:#edeeee;color:#292A36;font-weight:bold;font-size:14px;padding-left:5px;}
*/
#reg_content {clear:both;min-height:354px;height:auto;_height:554px;width:694px;margin-top:12px;margin-right:auto;margin-left:auto;}
#content_reg_box_top {background:url(../images/v1/login_v10.png) no-repeat 0px -95px;height: 4px;overflow: hidden;}
#content_reg_box_center {background-image: url(../images/v1/content_reg_box_center.jpg);background-repeat: repeat-y;}
#content_reg_box_bottom {background:url(../images/v1/login_v10.png) no-repeat 0px -107px;height:4px;overflow: hidden;}

#maincontent {width:678px;height:auto;margin:20px auto -2px auto; margin:20px auto 0px auto;}
.content_reg_line {line-height:28px;height:auto;min-height:50px;_height:50px;width:633px;margin-top:1px;clear:both;}
.form_title {line-height:28px;color:#282A35;float:left;display:inline;text-align:right;width:110px;}
.form_word {line-height:28px;color:#666666;margin-left:5px;display:inline;vertical-align:middle;}

input,button,textarea,select{font-size:inherit;*font-size:100%; font-family:inherit;vertical-align:middle;font-size:12px;}
.inputBox{ height:37px; line-height:37px; background:url(../images/v1/login_v10.png) left -169px no-repeat; float:left; padding:0 0 0 5px; }
.inputBox cite{height:37px; line-height:37px;background:url(../images/v1/login_v10.png) right -169px no-repeat;  width:190px; float:left; padding:0 7px 0 0;}
.inputBox cite input.text{ font-size:14px;border:none; background:none; height:20px; padding:8px 3px;*padding:7px 3px 10px;  line-height:20px; width:100%;color:#666;}
.inputGreen{background: url(../images/v1/login_v10.png) left -116px no-repeat;}
.inputGreen cite{background: url(../images/v1/login_v10.png) right -116px no-repeat;}
.inputRed{background: url(../images/v1/login_v10.png) left -216px no-repeat;}
.inputRed cite{background: url(../images/v1/login_v10.png) right -216px no-repeat;}
.input60 cite{ width:60px;}
.input100 cite{ width:100px;}
.input140 cite{ width:140px;}
.input180 cite{ width:180px;}

.inputSubmit{ width:104px; height:30px; background: url(../images/v1/login_v10.png) 0px -260px no-repeat; }
.inputNext{ width:104px; height:30px; background: url(../images/v1/login_v10.png) -113px -260px no-repeat; }
.btn_next{cursor:pointer;border:0px;height:26px;width:79px;vertical-align: middle;background:url("../images/v1/left.png") repeat-x 0px -351px}
.btn_submit{cursor:pointer;border:0px;height:26px;width:69px;vertical-align: middle;background:url("../images/v1/left.png") repeat-x 0px -405px}