@charset "utf-8";
/*公共样式开始*/
html, body { margin: 0px; padding: 0px; text-align: center; font-family: Verdana, Arial; font-size: 12px; color: #333333; width: 100%;background-color:#d4d4d4; }
html div,html span{-moz-user-select: -moz-none;}
textarea {resize: none;}
a, a:link, a:visited, a:active {hide-focus: expression(this.hideFocus=true); outline: none; cursor:pointer; }
img { border: 0px;vertical-align: middle;}
li {hide-focus: expression(this.hideFocus=true); outline: none; list-style-type: none; text-align: left; line-height: 23px; }
form { margin: 0px; }
.clear,.c { margin: 0px; padding: 0px; clear: both; height: 0px; width: 0px; font-size: 0px; line-height: 0px; }
h1, h2, h3, h4, h5, p, ul, li { margin: 0px; padding: 0px; }
h1 { font-size: 24px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
input{vertical-align: middle;}
.unit { position:relative; padding-top:32px; z-index:1;_zoom:1; }
.unit_title { position: absolute; background:url(../images/v1/game_bg.gif) repeat-x left -326px; height:32px;line-height:32px; font-weight:bold; font-size:14px; width:781px; top:0; overflow:visible; }
.ut_l, .ut_r { background:url(../images/v1/game_bg.gif) repeat-x left -294px; float:left; height:32px; width:3px;}
select{vertical-align: middle;}
.ut_r { float:right; background-position:right -294px;}
/*公共样式结束*/
/*页面顶部*/
#rightcon_h { background: url(../images/news_bg.gif) repeat-x left -10px; height: 35px; line-height: 32px; text-align: left; overflow:hidden; }
#rightcon_h div { float:left;background:none; height:33px; width:5px;} 
#rightcon_h span{ display:block; color:#ffba01; font-size:12px; font-weight:normal; height:33px; overflow:hidden;}
#rightcon_h b {color:#fff601; font-weight:normal;}
#rightcon_h a{text-decoration: none; color:#fff601;cursor: pointer;}
/*右边页面*/
#rightcon { padding: 10px 5px;overflow-x: hidden; overflow-y: auto; text-align: left; background-color:#d4d4d4; }
/*整个游戏界面层*/
.game_rc { width:795px; margin:0 auto;}
.gm_con { margin-bottom: 10px; position:relative;_zoom:1;height: 100%;}
.gm_con_lt, .gm_con_rt, .gm_con_lb, .gm_con_rb { position:absolute; background: url(../images/v1/game_bg.gif) no-repeat left top; width:4px; height:4px; _line-height:0; _font-size:0;}
.gm_con_lt { left:0; top:0;}
.gm_con_rt { background-position:-4px top; right:0;_right:-1px; top:0;}
.gm_con_lb { background-position:left -4px; left:0; bottom:0; _bottom:-1px;}
.gm_con_rb { background-position:-4px -4px; right:0;_right:-1px; bottom:0; _bottom:-1px;}
.gm_con_to { border:1px solid #fff; background-color:#eaeaea; padding:4px 6px; _padding:4px 6px 0 6px;}
/* 奖期信息开始*/
.gct_l, .gct_r { background:url(../images/v1/game_bg.gif) no-repeat left -150px; width:334px; height:108px; float:left;overflow-y: hidden;}
.gct_r { background-position: left -20px; width:438px;float:right;}
.gct_l h3, .gct_r h3 { font-weight: normal; color: #FFF; font-size:14px; line-height: 22px; margin: 0 0 3px 25px; }
.gct_l h3{margin-top: 2px;}
.gct_r h3 { font-size:12px;}
.gct_r h3 b { color:#f6ff00; font-family: 宋体,Arial;}
.gct_now { color:#a8eeb2; margin-left:10px; line-height: 22px;}
.gct_now1 { float:left; line-height: 26px;}
.gct_now span, .gct_now b { color:#f6ff00; font-family: 宋体,Arial;}
.gct_time_now { background:url(../images/v1/game_bg.gif) no-repeat right -266px; line-height: 28px; font-size:16px; font-weight:bold; color:#fff; float:left; margin-left:10px; padding-right:8px;}
.gct_time_now_l { background:url(../images/v1/game_bg.gif) no-repeat left -266px; padding-left:8px;}
.gct_time { float:left;}
.gct_menu { float:right; padding-right:10px; width:64px;}
.gct_menu input { background:url(../images/menu_bg.jpg) no-repeat right -40px; width:64px; height:24px; margin:4px 0 0 0; cursor:pointer; border:0;}
.gct_menu input.gct_menu_yl { background-position: right -90px;}
.gct_menu a { background:url(../images/menu_bg.jpg) no-repeat right -40px; width:64px; height:24px; margin:4px 0 0 0; cursor:pointer; border:0;display: block;}
.gct_menu a.gct_menu_yl { background-position: right -90px;}
/*开奖号码显示*/
.tad{ padding:3px 0 0 9px;height: 108px;}
.gct_r_nub { margin:0 0 0 6px;}


.ww{padding-left:18px;width:63px;*padding-left:18px;}
.qw{width:64px;}
.bw{width:63px;}
.sw{width:63px;}
.gw{width:40px}
.gr_s { background:url(../images/n.gif) no-repeat -720px top; width:77px; height:76px; float:left; margin:3px 4px;}
.gr_s1 { background-position: left top;}
.gr_s2 { background-position: -80px top;}
.gr_s3 { background-position: -160px top;}
.gr_s4 { background-position: -240px top;}
.gr_s5 { background-position: -320px top;}
.gr_s6 { background-position: -400px top;}
.gr_s7 { background-position: -480px top;}
.gr_s8 { background-position: -560px top;}
.gr_s9 { background-position: -640px top;}
.gr_s0 { background-position: -720px top;}
.gr_s01 { background-position: left bottom;}
.gr_s02 { background-position: -80px bottom;}
.gr_s03 { background-position: -160px bottom;}
.gr_s04 { background-position: -240px bottom;}
.gr_s05 { background-position: -320px bottom;}
.gr_s06 { background-position: -400px bottom;}
.gr_s07 { background-position: -480px bottom;}
.gr_s08 { background-position: -560px bottom;}
.gr_s09 { background-position: -640px bottom;}
.gr_s10 { background-position: -720px bottom;}
.gr_s11 { background-position: -800px bottom;}

.gr_ss1 { background-position: left bottom;}
.gr_ss2 { background-position: -80px bottom;}
.gr_ss3 { background-position: -160px bottom;}
.gr_ss4 { background-position: -240px bottom;}
.gr_ss5 { background-position: -320px bottom;}
.gr_ss6 { background-position: -400px bottom;}
.gr_ss7 { background-position: -480px bottom;}
.gr_ss8 { background-position: -560px bottom;}
.gr_ss9 { background-position: -640px bottom;}
.gr_ss10 { background-position: -720px bottom;}
.gr_ss11 { background-position: -800px bottom;}

.gr_s020 { background-position: right top; width:35px; height:35px; text-align:center; color:#fff; font-weight:bold; line-height:35px; font-size:16px;}
.gr_sx,.gr_sk { background-position: -800px top;}
/*快三*/
.gr_ks {background:url(../images/ks.gif) no-repeat left top;width:77px; height:76px; float:left; margin:3px 4px;}
.gr_ks1 { background-position: left top;}
.gr_ks2 { background-position: -78px top;}
.gr_ks3 { background-position: -156px top;}
.gr_ks4 { background-position: -234px top;}
.gr_ks5 { background-position: -312px top;}
.gr_ks6 { background-position: -390px top;}
/*移动号码*/
.gr_ksm1 { background-position: left bottom;}
.gr_ksm2 { background-position: -78px bottom;}
.gr_ksm3 { background-position: -156px bottom;}
.gr_ksm4 { background-position: -234px bottom;}
.gr_ksm5 { background-position: -312px bottom;}
.gr_ksm6 { background-position: -390px bottom;}
.gr_ksx,.gr_ksk { background:url(../images/n.gif) no-repeat -720px top; width:77px; height:76px; float:left; margin:3px 4px;background-position: -800px top;}
/* 奖期信息结束  */
/*玩法大标签开始*/
.tz_body .u_tab_div .tab-back{ float:left; background: url(../images/v1/game_bg.gif) no-repeat right -425px; text-align:center; display: block; padding:3px 15px 0 15px; cursor: pointer; }
.tz_body .u_tab_div .tab-front .content{color:#333; text-decoration:none; _float:left;}
.tz_body .u_tab_div .tab-front { float:left; background:url(../images/v1/game_bg.gif) no-repeat right -390px; text-align:center; display: block; height:34px; margin:0 0 0 -3px; cursor: pointer;}
.tz_body .u_tab_div .tab-front .content{ display:block; background:url(../images/v1/game_bg.gif) no-repeat left -390px; height:34px; padding:0 15px; color:#fff; text-decoration:none; _float:left;}
#changemode{font-size: 13px;color:#FFF;background: url(../images/ts.gif) no-repeat left -286px;margin-left: 15px;height:30px;line-height: 30px;}
/*玩法大标签结束*/
/*玩法小标签开始*/
.tz_body { padding-bottom:3px;}
#tabCon, .trace_box { border:1px solid #2e8376; position:relative; z-index:-2;height: 100%;}
#tabCon .tabcon_n, .trace_box .tabcon_n { border:1px solid #77a77e; background-color:#2d7c36; padding:2px 8px;}
.nl_lt, .nl_rt, .nl_lb, .nl_rb { background:url(../images/v1/game_bg.gif) -20px top; width:3px; height:3px; position:absolute; z-index:-1; _line-height:0; _font-size:0;}
.nl_lt, .tbn_lt { left:-1px; top:-1px;}
.nl_rt, .tbn_rt { background-position:-23px top; right:-1px;_right:-2px; top:-1px;}
.nl_lb, .tbn_lb { background-position:-20px -3px; left:-1px; bottom:-1px;_height:0;_width:0;}
.nl_rb, .tbn_rb { background-position:-23px -3px; right:-1px;_right:-2px; bottom:-1px;_height:0;_width:0;}
#tabCon .tz_li { display:block; height:22px; padding:2px 0; line-height:22px;}
.tz_title { float:left; font-weight:bold; color:#fff; padding-right:5px;}
#tabCon .tz_li div { cursor: pointer; float:left; display:block; height:22px; background:url(../images/v1/game_bg.gif) no-repeat right -580px; padding:0 10px 0 0; margin-right:12px; text-decoration:none; }
#tabCon .tz_li div span {display:block; height:22px; background:url(../images/v1/game_bg.gif) no-repeat left -580px; padding:0 0 0 10px; color:#fee0e0; _float:left;}
#tabCon .tz_li div:hover { background-position: right -610px;}
#tabCon .tz_li div:hover span { background-position: left -610px;}
#tabCon .tz_li div.act { background:url(../images/menu_bg.jpg) no-repeat right -200px;}
#tabCon .tz_li div.act span { background:url(../images/menu_bg.jpg) no-repeat left -200px; color:#3a0000; font-weight:bold;}
.tzn_body { border:1px solid #727272; position:relative; margin-bottom:3px;_zoom:1;}
.tzn_b_n { border:1px solid #9d9d9d; background-color:#5e5e5e;_zoom:1;}
.tbn_lt, .tbn_rt, .tbn_lb, .tbn_rb { background:url(../images/v1/game_bg.gif) -40px top; width:3px; height:3px; position:absolute; _line-height:0; _font-size:0;}
.tbn_lt { left:-1px; top:-1px;}
.tbn_rt { background-position:-43px top; right:-1px;_right:-2px; top:-1px;}
.tbn_lb { background-position:-40px -3px; left:-1px; bottom:-1px;_height:0;_width:0;}
.tbn_rb { background-position:-43px -3px; right:-1px;_right:-2px; bottom:-1px;_height:0;_width:0;}
.tbn_top { padding:5px 0 5px 8px; height:19px; line-height:18px;}
.tbn_top h5, .tbn_top a,.tbn_top span { float:left; display:block; height:19px; }
.tbn_top h5 { font-weight:normal; color:#fff;}
.tbn_top .methodexample, .tbn_top .methodhelp { background:url(../images/menu_bg.jpg) no-repeat right -140px; width:41px; margin-left:10px; }
.tbn_top .methodhelp { background-position: right -170px; width:17px;}
.tbn_cen { background-color:#727272;}
.tbn_c_ft, .tbn_c_fb { background:url(../images/fg.gif) repeat-x left top; height:4px;_line-height:0; _font-size:0;}
.tbn_c_fb { background-image:url(../images/fg2.gif);}
/*玩法小标签结束*/
/*选号区开始*/
.tbn_c_s {display: inline-table;}
.tbn_c_s .c{clear:both;float:none}
.tbn_c_s .nbs{margin-bottom: 0;padding: 5px;height: 40px;font-family:YaHeiConsolas,"Microsoft YaHei","宋体" !important}
.tbn_c_s .single{height: 120px;}
.tbn_c_s .selposition{height: 30px;color: #FFF;line-height: 30px;margin-left: 100px;}
.tbn_c_s .selposition label{margin: 0 5px;cursor: pointer;}
/*号码标题*/
.tbn_c_s .nbs .ti,.tbn_c_s .nbs .tiempty,.tbn_c_s .nbs .nb,.tbn_c_s .nbs .nbts,.tbn_c_s .nbs .nbksts,.tbn_c_s .nbs .bl,.tbn_c_s .nbs .to{float:left;overflow:hidden;height: 38px;}
.tbn_c_s .nbs .ti{color: #FFF;font-size: 16px;padding: 10px 0;margin-right: 0px;background:url(../images/v1/game_bg.gif) no-repeat left bottom; width:82px; height:18px; line-height: 18px;margin-bottom:5px; text-align: center;}
.tbn_c_s .nbs .tiempty{color: #FFF;font-size: 16px;padding: 10px 0;margin-right: 0px;background-image:none; width:82px; height:18px; line-height: 18px;margin-bottom:15px; text-align: center;}
/*号码区*/
.tbn_c_s .nbs .nb{margin-right: 0px;padding:0 10px; height:auto;}
.tbn_c_s .nbs .nb div {cursor: pointer;margin-bottom:5px;display:block; float:left; background:url(../images/menu_bg.jpg) no-repeat left -80px; width:36px; height:38px; line-height:36px; font-weight:bold; text-align:center; color:#000; text-decoration:none; font-size:20px; margin-right:2px;}
.tbn_c_s .nbs .nb.keno div{width:30px;font-size:15px; background-position: -112px -80px;}
.tbn_c_s .nbs .nb .on{ background-position: left -40px; color:#fff;}
.tbn_c_s .nbs .nb.keno .on{ color:#fff;background-position: -112px -40px;}
/*特殊号码区*/
.tbn_c_s .nbs .nbts{margin: 0 5px 10px 5px;padding:0 15px;height: 38px;}
.tbn_c_s .nbs .nbts div { cursor: pointer;margin-bottom:5px;display:block; float:left; background:url(../images/menu_bg.jpg) no-repeat -37px -80px; width:72px; height:38px; line-height:36px; font-weight:bold; text-align:center; color:#000; text-decoration:none; font-size:18px; margin-right:2px;}
.tbn_c_s .nbs .nbts .on{ background-position: -37px -40px; color:#fff;}
/*快三特殊号*/
.tbn_c_s .nbs .nbksts{margin: 0 5px 10px 5px;padding:0 15px;height: 38px;}
.tbn_c_s .nbs .nbksts div { cursor: pointer;margin-bottom:5px;display:block; float:left; background:url(../images/menu_bg.jpg) no-repeat -37px -80px; width:72px; height:38px; line-height:36px; font-weight:bold; text-align:center; color:#000; text-decoration:none; font-size:18px; margin-right:2px;}
.tbn_c_s .nbs .nbksts .on{ background-position: -37px -40px; color:#fff;}
/*乐透趣味*/
.tbn_c_s .nbs .bl{margin: 0 5px 10px 5px;padding:0 15px;height: 38px;}
.tbn_c_s .nbs .bl div { cursor: pointer;margin-bottom:5px;display:block; float:left; background:url(../images/menu_bg.jpg) no-repeat -37px -80px; width:72px; height:38px; line-height:36px; font-weight:bold; text-align:center; color:#000; text-decoration:none; font-size:15px; margin-right:5px;}
.tbn_c_s .nbs .bl .on{ background-position: -37px -40px; color:#fff;}
.codedesc{display: block;font-size: 12px;}
/*快速选号区*/
.tbn_c_s .nbs .to{ margin-left: 5px;padding-left:5px;height: 38px;}
.tbn_c_s .nbs .to li{display:block; float:left;cursor: pointer;}
.tbn_c_s .nbs .to .dxjoq{ background:url(../images/menu_bg.jpg) no-repeat left -160px; width:33px; height:32px; font-size:14px; line-height:30px;color:#000; text-align: center;margin: 3px;font-weight: bold;}
.tbn_c_s .nbs .to .on {background:url(../images/menu_bg.jpg) no-repeat left -120px; color:#FFF;}
/*趣味选号区*/
.tbn_c_s .random_sel_button{margin-bottom: 10px;padding: 0 0 5px 0;display: none;height:80px;width: 650px;margin: 0 auto;}
.tbn_c_s .funny_desc{color: #FFF;height:35px;line-height:35px;padding-left: 10px;float: left;}
.tbn_c_s .random_button,.tbn_c_s .possibleprize{cursor: pointer;float: left;background:url(../images/menu_bg.jpg) no-repeat -35px -160px; width:66px; height:32px; font-size:12px; line-height:30px;color:#000; text-align: center;margin: 3px;font-weight: bold;}
.tbn_c_s .random_sel_button .on{background:url(../images/menu_bg.jpg) no-repeat -35px -120px; color:#FFF;}
/*单式区*/
.tbn_c_s .nbs .ha{float:left;overflow:hidden;height: 38px;}
.tbn_c_s .lsb{border: 0; margin-bottom: 5px;display: block;background:url(../images/other.gif) no-repeat -5px -820px; text-align:center; height:25px; line-height:25px;cursor: pointer; }
.write_box_desc{color: #FFF;padding: 10px 0 5px 0;display: block;}
/*选号区结束*/
/*选择内容开始*/
.tz_tab_list_box{max-height: 200px;_height: expression( this.scrollHeight > 200 ? "200px" : "100%" );overflow-y: scroll;}
.tz_tab_list {width:528px;}
@-moz-document url-prefix(){.tz_tab_list_box{overflow-y: auto;}}
@-moz-document url-prefix(){.tz_tab_list{width: 100%;}}
.tz_tab_list td{background:url(../images/v1/game_bg.gif) repeat-x left -480px; height:20px; line-height:20px; margin-bottom:1px;}
.tz_tab_list .tl_li_l, .tz_tab_list .tl_li_r,.tz_tab_list .tl_li_rn {width:4px; height:20px; background:url(../images/v1/game_bg.gif) no-repeat left -460px;}
.tz_tab_list .tl_li_r { background-position:right -500px; width:16px; cursor:pointer;}
.tz_tab_list .tl_li_rn{background-position:-5px -460px;}
.tbn_bot { padding:8px 8px 5px 0;}
.tbn_b_top { padding:10px 0;display:inline-table;height: 30px;width: 773px;}
.tbn_bt_sel { float:left; width:643px; text-align:center; color:#fff; line-height:29px;}
.tbn_bt_sel strong { font-size:14px; color:#ffff00;}
.changetime{margin: 0 2px\9;font-size: 12px;padding: 2px 1px;*padding:4px 1px 0 1px;_padding:4px 1px 0 1px;border:1px solid #CCC;background:url(../images/menu_bg.jpg) no-repeat -5px -85px;color: #000;vertical-align: middle;cursor: pointer;}
@-moz-document url-prefix(){.changetime{margin: 0 2px;}}
.g_submit{ float:right;display:block; background:url(../images/menu_bg.jpg) no-repeat left -410px; width:126px; height:29px; cursor: pointer;}
.g_submit:hover { background-position:left -440px; }
.tbn_b_bot { padding:10px 0 0 0;}
.tbn_bb_l { border:1px solid #474646; float:left; width:548px;}
.tbn_bb_ln { border:1px solid #b8b7b7; background-color:#9d9d9d; padding:2px 0 0 1px; position:relative;position:inherit\9;_zoom:1;}
.tbn_bb_ln h4 { display:block; background:url(../images/menu_bg.jpg) no-repeat left top; height:28px; line-height:28px; padding:0 3px 0 28px; color:#fff;}
.tbn_bb_ln h4 .tbn_clear { float:right; border:none; background:url(../images/v1/game_bg.gif) no-repeat left -428px; width: 52px; height:26px; padding-top:2px; cursor:pointer;}
/*选择内容结束*/
/*奖期的选择开始*/
.tbn_bb_r { float:right;*width:205px; _width:205px;}
.tbn_bb_r .sub_txt { background:url(../images/menu_bg.jpg) no-repeat left bottom; width:204px; height:84px; margin-bottom:2px;}
.tbn_bb_r .sub_txt p { padding: 0 0 0 8px; line-height: 22px;}
.tbn_bb_r .sub_txt p strong { color:#f00;}
.tbn_bb_r .sub_txt p select{ width:145px;}
.tbn_bb_r .g_submit { background-position:left -270px; width:128px; height:37px;cursor: pointer;}
.tbn_bb_r .g_submit:hover { background-position:left -310px;}
/*奖期的选择结束*/
/*追号区开始*/
.zh_body { padding-bottom:3px;_padding-bottom:5px;margin: 0;height: 100%;}
.zh_body .unit{padding: 0;}
.zh_body .unit_title { background-position: left -760px; height:36px;position: relative;margin: 0;padding: 0;}
.zh_body .unit_title .ut_l {background-position: left -720px; height:36px; }
.zh_body .unit_title .ut_r {background-position: right -800px; height:36px; }
.zh_body .unit_title h4, .zh_body .unit_title .ut_zh { display:block; float:left; margin:5px 5px 0 5px; line-height:26px;}
.zh_body .unit_title h4, .zh_body .unit_title h4 .zh_title { background:url(..../images/v1/game_bg.gif) no-repeat right -680px; height:28px;}
.zh_body .unit_title h4 .zh_title { cursor: pointer;display:block; background-position:left -680px; padding:0 15px 0 10px; color:#fff; text-decoration:none; _float:left;}
.zh_body .unit_title h4 .zh_title input{display: none;float: left;vertical-align: middle;margin-top: 3px;}
.zh_body .unit_title .ut_zh { font-weight:normal; font-size:12px;}
.zh_body .unit_title .ut_zh .zh_continue{cursor: pointer;}
.zh_body .unit_title .ut_zh input{vertical-align: middle;}
.zh_body .unit_title2{height: 100%;}
.zh_body .trace_box { z-index:1;}
.zh_body .trace_box .tabcon_n { padding:2px 3px;}
.zh_body .tab-back { cursor: pointer;display:block; float:left; background:url(../images/v1/game_bg.gif) no-repeat  -290px -640px; height:33px; line-height:25px; padding:0px 10px; color:#fff; margin: 0 10px 0 0;}
.zh_body .tab-front{ cursor: pointer;display:block; float:left; background: url(../images/menu_bg.jpg) no-repeat right -230px;  height:33px; line-height:25px; padding:0px 10px; color:#000; margin: 0 10px 0 0;font-weight: bold;}
.zh_body .zhgen{padding:6px 10px;background-color: #5b5b5b;color:#FFF;line-height:28px;height: 100%;}
.zh_body .zhgen .y{color:#FFC93C}
.zh_body .zhgen #lt_trace_labelhtml input{color:red;text-align:center}
.zh_body .zhlist{height:280px;border-top:1px solid #222;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #fff; background-color:#fff; overflow-y:scroll; }
.zh_body .zhlist table{width:752px;border:0px;color:#C9C9C9;background-color:#FFF}
.zh_body .zhlist table td{font-family:宋体, Arial;color:#000;cursor:pointer;background:url(../images/v1/game_bg.gif) repeat-x left -550px; height:24px; line-height:24px; text-align:center; overflow:hidden;}
.zh_body .zhlist table .r1{width:70px;padding-left:10px}
.zh_body .zhlist table .r2{padding:0;margin:0 6px 0 0;text-align:center;border:0px;color:#999;height:15px;width:35px;background:url('/images/v1/game17.png') -111px -307px no-repeat}
.zh_body .zhlist table .on .r2,.zhlist table .hv .r2{color:red;}
.zh_body .zhlist table .on td{background-position: left -520px;}
.zh_body .zhlist table .hv td{background-position: left -520px;}
.zhgen .g_submit { background-position:left -350px; cursor: pointer;}
.zhgen .g_submit:hover { background-position:left -380px;}
.trace_box .tz_li { display:block; padding:2px 0; line-height:19px; _padding-bottom:1px;}
/*追号区结束*/
/*游戏记录区开始*/
.yx_body { padding-bottom:3px;}
.yx_body .unit { padding-top:34px;_height: 0px;}
.yx_body .unit_title { background-position: left -760px; height:36px;}
.yx_body .unit_title .ut_l {background-position: left -720px; height:36px; }
.yx_body .unit_title .ut_r {background-position: right -800px; height:36px; }
.yx_body .unit_title h4, .yx_body .unit_title .ut_zh { display:block; float:left; margin:5px 5px 0 5px; line-height:26px;}
.yx_body .unit_title h4, .yx_body .unit_title h4 .yx_title { background:url(../images/v1/game_bg.gif) no-repeat right -680px; height:28px;}
.yx_body .unit_title h4 .yx_title { cursor: pointer;display:block; background-position:left -680px; padding:0 15px 0 10px; color:#fff; text-decoration:none; _float:left;}
.yx_body .yx_box{border: 1px solid #832f2e;position:relative;margin-top: 2px;}
.yx_body .nl_lt, .yx_body .nl_rt, .yx_body .nl_lb, .yx_body .nl_rb {z-index: 1;_display:none;}
.yx_body .yxlist{padding:0 4px 4px 4px;background-color:#971b27;border: 1px solid #bb6b72;}
.yx_body .yxlist table{border:0px;color:#C9C9C9;background-color:#FFF;}
.yx_body .yxlist table th{background-color:#971b27;text-align: center;height: 30px;line-height: 30px;color: #FFF;}
.yx_body .yxlist table td{font-family:宋体, Arial;color:#000;cursor:pointer;background:url(../images/v1/game_bg.gif) repeat-x left -550px; height:24px; line-height:24px; text-align:center; overflow:hidden;}
.yx_body .yxlist table tr.cancel td{background-position: left -520px}
.yx_body .yxlist table td a{color: #000;}
/*游戏记录区结束*/
/*底部样式开始*/
#copyright { background:url(../images/footer_bg.gif) no-repeat center center; text-align: center; height:27px; margin-bottom:15px; }
#copyright p { line-height: 25px; color: #e6e6e6; }
/*底部样式结束*/
/*窗口样式开始*/
.mdl span,.mdl div{display:block;background:url(../images/ts.gif) repeat-x;}
.mdl{width:80%;overflow:hidden;position:relative;margin:10px;padding:38px 7px 12px 7px;font:12px;}
.mdl h3{position:absolute;top:9px;left:20px;z-index:3;margin:0;font-size:14px;color:#FFF;letter-spacing:1px;margin-top: 5px;}
.mdl h4{font-size:12px;background:#FFF;padding:3px 60px 5px 5px;margin:0;font-weight:normal;text-align:center;border-bottom:#CCC 1px dotted;line-height:18px;}
.mdl_t_l,.mdl_t_c,.mdl_t_r,.mdl_c_l,.mdl_c_r,.mdl_b_l,.mdl_b_c,.mdl_b_r,.mdl_clo{position:absolute;z-index:2;}
.mdl .mdl_t_l{top:0;left:0;width:12px;height:38px;background-position:left -400px;}
.mdl .mdl_t_c{top:0;left:4px;z-index:1;width:100%;height:38px;background-position:left -341px;}
.mdl .mdl_t_c span{height:38px;background-position:left -341px;}
.mdl .mdl_t_r{top:0;right:0px;width:12px;height:38px;background-position:right -400px;}
.mdl .mdl_c_l{top:0;left:0;z-index:1;width:7px;border-right:2px solid #4f4f4f;background-color:#060606;margin-top:2px;}
.mdl .mdl_c_l span{width:7px;height:2000px;background: #060606;}
.mdl .mdl_c_r{top:0;right:0;z-index:1;width:7px;border-left:2px solid #4f4f4f;background-color:#060606;}
.mdl .mdl_c_r span{width:7px;height:2000px;background: #060606;}
.mdl .mdl_b_l{bottom:0;left:0;height:12px;width:7px;background-color:#090909;background-image: none;}
.mdl .mdl_b_c{bottom:0;_left:6px;width:100%;height:12px;background:none;left:6px\9;}
.mdl .mdl_b_c span{bottom:0;height:12px;background-position:left -540px;background-color:#090909;}
.mdl .mdl_b_r{bottom:0;right:0;height:12px;width:7px;background-color:#090909;background-image: none;}
.mdl .mdl_clo{top:2px;right:8px;z-index:10;color:#FFF;background-image:none;margin-top: 14px;}
.mdl .mdl_clo .c1{height:26px;cursor:pointer;width:35px;background:url('/images/ts.gif') left -260px no-repeat}
.mdl .mdl_clo .c2{height:26px;width:35px;background:url('/images/ts.gif') left -260px no-repeat}
.mdl table{width:100%;background-color:#FFF;}
.mdl table td{background:#FFF;padding:3px 5px;text-align:left;line-height:16px;}
.mdl .data, .mdl .chat,.mdl .datainfo{background:#F4F4F4;float:none;background-image:none;height:130px;overflow:scroll;overflow-x:hidden;border-bottom:#CCC 1px dotted;*width:99%}
.mdl .datainfo{background:#FFF;}
.mdl .data table{table-layout:fixed;}
.mdl .data table td{*padding-right:16px;background:#F4F4F4;color:#666;line-height:14px;word-break:break-all;word-wrap:break-word;}
.mdl .chat {padding:3px 0px;background:#B5B2B5;height:300px;border-top:#CCC 1px dotted;}
.mdl .chat table td{padding:0px;margin:0px;}
.mdl .ta0{font-size:12px;line-height:16px;width:490px;}
.mdl .yh{color:#555;width: 65px;height: 31px;line-height:29px;background:url('/images/ts.gif') left -580px no-repeat;border: 0px;text-align: center;vertical-align: middle;}
.mdl .yh:hover{background-position:left -620px;}
/* icons start */
.icons_mb5_s{margin:0 5px 0 0px;background:url('/images/ts.gif') -60px 0 no-repeat;height:42px;width:42px;}
.icons_mb5_e{margin:0 5px 0 0px;background:url('/images/ts.gif') -180px 0 no-repeat;height:42px;width:42px;}
.icons_mb5_n{margin:0 5px 0 0px;background:url('/images/ts.gif') -120px 0 no-repeat;height:42px;width:42px;}
.icons_mb5_q{margin:0 5px 0 0px;background:url('/images/ts.gif') 0 0 no-repeat;height:42px;width:42px;}
.icons_q1{height:13px;width:13px;background:url('/images/v1/icons.png') -2px -92px no-repeat;cursor:pointer;}
/* icons end */
.mdl .binfo,.mdl .binfo span{display:block;background-image:none;float:left;}
.mdl .binfo .bbl{height:27px;width:9px;}
.mdl .binfo .bbr{height:27px;width:9px;background:url(../images/ts.gif) no-repeat right -290px;}
.mdl .binfo .bbm{padding:0px 10px;background:url(../images/ts.gif) no-repeat left -290px; color:#000;display:block;text-align:right;height:27px;line-height:27px;}
.hr1{background:url('/images/v1/main_header_bg.jpg') no-repeat 0px -302px;height:2px;width:650px;overflow: hidden;margin:5px 0px}
.mdl .zdinfo {background:#535353;color:#FC3;padding-left:10px;}
.mdl .zdinfo div{background:none;}
.mdl .zdinfo table{margin:0px;padding:0px;}
.mdl .zdinfo table td{background:#535353;height:14px;line-height:14px}
.mdl .zdinfo table .th td{height:36px;line-height:36px;padding:0px;margin:0px}
.mdl .zdinfo table .d td{background:#F9F9F9;line-height:30px;text-align:center}
.mdl .zdinfo table td span{background:none;display:inline;color:#FFF}
.mdl .zdinfo textarea{font-size:12px;}
.mdl .zdinfo .t1{border:#333 1px solid;background-color:#D8D8D8;font-size:12px;padding:3px;}
.mdl .title{background-image: none;padding: 10px;font-weight: bold;}
.mdl .hisinfo span,.mdl .hisinfo div{background-image: none;}
.mdl .hisinfo {background:#fff;color:#000;margin-left: -2px;}
.mdl .hisinfo div{background:none;}
.mdl .hisinfo td{font-weight: bold;background:#fff;text-align: left;padding:0 10px;height:30px;line-height:30px;border-bottom:1px solid #ccc;font-size: 12px;}
.mdl .hisinfo .th td{border-bottom: 0;font-weight: normal;font-weight: bold;text-align: center;height:36px;line-height:36px;margin:0px;height:37px; line-height:37px; background:url(../images/other.gif) repeat-x left -460px; color:#fff;}
.mdl .hisinfo .d td{font-weight: normal;text-align: center;}
.mdl .hisinfo textarea{font-size:12px;}
.mdl .hisinfo span{display: inline;font-size:12px;color: #0062b5;font-weight: normal;}
/* fbox */
.fbox{display:inline-block;text-align:left;padding:0px;margin:0px;z-index:1;}
.fbox .t .tl{height:5px;width:5px;background:url('/images/v1/game17.png') 0px -489px no-repeat}
.fbox .t .tr{height:5px;width:5px;background:url('/images/v1/game17.png') -6px -489px no-repeat}
.fbox .t .tm{margin:0px;height:5px;background:url('/images/v1/game17.png') 0px -496px repeat-x;overflow:hidden}
.fbox .mm{width:100%;background-color:#CCC;text-align:left;line-height:16px;}
.fbox .mm .ml{border-left:#222 1px solid;overflow:hidden;font-size:0px;}
.fbox .mm .mr{border-right:#222 1px solid;overflow:hidden;font-size:0px;}
.fbox .in{margin-top:6px;margin-left:3px;}
.fbox .ic{overflow:hidden;margin-right:6px;margin-top:3px;float:left;height:10px;width:10px;background:url('/images/v1/game17.png') -27px -485px no-repeat}
.fbox .b .bl{height:5px;width:5px;background:url('/images/v1/game17.png') -12px -489px no-repeat}
.fbox .b .br{height:5px;width:5px;background:url('/images/v1/game17.png') -18px -489px no-repeat}
.fbox .b .bm{background-color:#CCC;border-bottom:#222 1px solid;*height:4px;*overflow:hidden;*font-size:0px;}
.fbox .ar {position:relative;bottom:8px;left:30px;}
.fbox .ar .ic{position:absolute;z-index:5;height:11px;width:15px;background:url('/images/v1/game17.png') -103px -502px no-repeat }
.fbox .ta{width:210px;height:50px;background-color:#CCC;font-size:12px;font-weight:lighter;}
.ibox{width: 300px;display:inline-block;text-align:left;padding:0px;margin:0px;z-index:1;}
.ibox .t .tl{height:5px;width:4px;background:url('/images/v1/game17.png') -50px -488px no-repeat}
.ibox .t .tr{height:5px;width:4px;background:url('/images/v1/game17.png') -55px -488px no-repeat}
.ibox .t .tm{height:5px;background:url('/images/v1/game17.png') 0px -514px repeat-x}
.ibox .mm{width:100%;background-color:#656565;text-align:left;line-height:16px;color:#FFF;}
.ibox .mm .ml{border-left:#222 1px solid;overflow:hidden;font-size:0px;}
.ibox .mm .mr{border-right:#222 1px solid;overflow:hidden;font-size:0px;}
.ibox .mm .cy{color:#FC0}
.ibox .b .bl{height:3px;width:4px;background:url('/images/v1/game17.png') -60px -490px no-repeat}
.ibox .b .br{height:3px;width:4px;background:url('/images/v1/game17.png') -65px -490px no-repeat}
.ibox .b .bm{background-color:#656565;border-bottom:#222 1px solid;*height:2px;*overflow:hidden;*font-size:0px;}
.ibox .ar{position:relative;bottom:3px;left:30px;}
.ibox .ar .ic{position:absolute;z-index:5;height:11px;width:30px;background:url('/images/v1/game17.png') -73px -524px no-repeat;}
.win_bot { position:fixed; right:0; bottom:0; background:url(../images/ts.gif) no-repeat left -120px; width:218px; height:124px; z-index:999; text-align:left;}
.win_bot h5 { display:block; float:left; font-weight:normal; color:#fff; height: 16px;line-height: 16px;overflow: hidden;padding: 6px 0 8px 20px;width: 140px;}
.wb_close { float:right; background:url(../images/ts.gif) no-repeat right -120px; width:14px; height:14px; cursor:pointer; margin:8px;_margin: 8px 4px 0 0;}
.wb_con { padding:0 0 0 10px; margin:0 3px 3px 0; height:70px; overflow-x:hidden; overflow-y:scroll;}
.wb_con p { text-indent:20px;}
a.wb_p, a.wb_n { display:block; float:left; color:#333; text-decoration:none; margin:1px 10px 0 13px; _margin:4px 4px 0 6px; width:40px; text-align:center; height:16px;}
a.wb_p{ padding-left:12px;}
a.wb_n{ padding-right:12px; float:right;}
/*窗口样式结束*/


.tabbar-div-s3{margin-bottom: 6px;}
.tabbar-div-s3 .tab-front{line-height: 33px;float:left;cursor: pointer;color:#333;margin:4px 0px 0px 8px}
.tabbar-div-s3 .tab-front .tabbar-left{background:url('../images/v1/icons.png') -33px -28px no-repeat;height:34px;width:9px;float:left}
.tabbar-div-s3 .tab-front .tabbar-right{background:url('../images/v1/icons.png') -46px -28px no-repeat;height:34px;width:6px;float:left}
.tabbar-div-s3 .tab-front .content{background:url("../images/v1/left.png") repeat-x -10px -716px;padding:0px 12px;float:left}
.tabbar-div-s3 .tab-back{line-height: 33px;height:34px;float:left;cursor: pointer;color:#FFF;margin:4px 0px 0px 8px}
.tabbar-div-s3 .tab-back .tabbar-left{background:url('../images/v1/icons.png') -53px -28px no-repeat;height:34px;width:12px;float:left}
.tabbar-div-s3 .tab-back .tabbar-right{background:url('../images/v1/icons.png') -66px -28px no-repeat;height:34px;width:6px;float:left}
.tabbar-div-s3 .tab-back .content{background:url("../images/v1/left.png") repeat-x 0px -752px;padding:0px 12px;float:left}


#footer{width:100%; background:url(../images/v1/footer.png) no-repeat center; height:32px;position:relative;font-size: 12px;margin-top: 12px;overflow:hidden;text-align:center;line-height:32px;color:#fff; margin-bottom:20px;}


/*.nr{margin-top:-15px;height:58px;width:35px;background:url('../images/v1/loading001.gif') 0px 0px;overflow:hidden;position:absolute;}*/