@CHARSET "UTF-8";

.n_bj{background:url(../images/v1/n_bj.jpg) repeat-x; height:50px;}
.tubiao{background:url(../images/v1/daohang.jpg) no-repeat; height:50px;width:7px;float:left; padding-right:5px;}
/* global */
html{overflow-y:scroll}
body{margin:0px auto;font: 12px "宋体","sans-serif", "Arial", "Verdana";clear:both}
img{border:0px;vertical-align: middle}
table{border-collapse:0px;border-spacing:0px}
form{padding:0px;margin:0px}
.yh{ font-family:YaHeiConsolas,"Microsoft YaHei","宋体" !important }

.message{background: #F3F8FE;border: 1px solid #8BC0E7;padding: 5px;color: #666;margin: 0 0 10px 0}
h1{width:100%;background:url(../images/v1/n_bj.jpg) repeat-x; height:50px; line-height:50px;font-size:14px;margin: 0 0 6px 0;overflow:hidden;*margin-top:-7px;*padding-bottom:9px; }
h1 span{zoom:1}h1 .action-span{float:right;margin: 0px 10px 0px 5px;*margin:0px 10px 0px 5px;}
.zhuangtai{background:url(../images/v1/rr_jg.png) no-repeat;}
h1 .action-span a{color:#000; width:106px;  height:48px;font-size:14px;font-weight:bold;text-decoration:none;display:block;padding:0px 0px 3px 25px;*padding:0px 0px 3px 25px;}
h1 .action-span a:hover{ background:url(../images/v1/rr_jg.png) no-repeat;color:#8C4600;text-decoration:none}
.action-span1{color:#006837;display:block;float:left;margin-left:10px!important;margin-left:5px;margin-top:0!important;margin-top:10px;height:50px;line-height:50px;font-weight:normal}
.action-span1 a{color:#006837;text-decoration:none}
h1 .action-span1 a{color:#333;text-decoration:none}
h1 .action-span1 a:hover{color:#F30}
#footer{width:100%; background:url(../images/v1/footer.png) no-repeat center; height:32px;position:relative;font-size: 12px;margin-top: 12px;overflow:hidden;text-align:center;line-height:32px;color:#fff; margin-bottom:20px;}

/* btn */
.btn_search{cursor:pointer;border:0px;height:26px;width:60px;vertical-align: middle;background:url("../images/v1/left.png") repeat-x 0px -297px}
.btn_search:hover{background:url("../images/v1/left.png") repeat-x 0px -324px;}
.btn_next{cursor:pointer;border:0px;height:26px;width:79px;vertical-align: middle;background:url("../images/v1/left.png") repeat-x 0px -351px}
.btn_next:hover{background:url("../images/v1/left.png") repeat-x 0px -378px;}
.btn_submit{cursor:pointer;border:0px;height:26px;width:69px;vertical-align: middle;background:url("../images/v1/left.png") repeat-x 0px -405px}
.btn_submit:hover{background:url("../images/v1/left.png") repeat-x 0px -432px;}
.btn_bonus{cursor:pointer;border:0px;height:26px;width:89px;vertical-align: middle;background:url("../images/v1/left.png") repeat-x 0px -822px}
.btn_bonus:hover{background:url("../images/v1/left.png") repeat-x 0px -849px;}
.btn_act_login{cursor:pointer;border:0px;height:26px;width:89px;vertical-align: middle;background:url("../images/v1/active_login.png");}
.btn_act_firstsave{cursor:pointer;border:0px;height:26px;width:89px;vertical-align: middle;background:url("../images/promotion/button_1.png");}


.btn_g_done{margin-top:2px;cursor:pointer;border:0px;height:31px;width:77px;vertical-align: top;background:url("../images/v1/game17.png") repeat-x -2px -331px}
.btn_g_done:hover{background:url("../images/v1/game17.png") repeat-x -92px -331px;}

.btn_g_zh{cursor:pointer;border:0px;height:30px;width:106px;vertical-align: bottom;background:url("../images/v1/game17.png") repeat-x -2px -365px}
.btn_g_zh:hover{background:url("../images/v1/game17.png") repeat-x -2px -395px;}

.btn_qk{cursor:pointer;border:0px;height:23px;width:40px;vertical-align: bottom;background:url("../images/v1/game17.png") no-repeat -114px -365px;margin-top:3px;}
.btn_qk:hover{background:url("../images/v1/game17.png") no-repeat -114px -388px}

/* ld */
.ld{border:0px;width:99.7%;background:#FFFFFF;color:#555}
.ld div{line-height:30px;font-size:14px;}
.ld input{height:18px;line-height:18px;vertical-align: middle}
.ld .button{height:25px;line-height:16px;font-size:12px;vertical-align: middle}

.ld .lt{width:100%;border:0px;border-collapse: 0px;border-spacing: 0px;font-size:12px}
.ld .lt .t{height:30px;border-spacing:0px;padding:0px;margin:0px;border:0px}
.ld .lt .t div{font-size:12px;background:url("../images/v1/left.png") repeat-x 0px -265px;margin:0px;padding:0px}
.ld .lt .th td{border:0px;line-height:36px;height:36px;background:url("../images/v1/left.png") repeat-x 0px -228px;color:#fff; font-weight:bold;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ld .lt td{padding-left:5px;color:#21366D;background:#fff;line-height: 28px;height:28px;border-bottom:1px solid #E5E5E5}
.no-records, .needq{text-align:center;}
.no-records span{text-align:center;line-height:50px;font-size:14px;font-weight:bold;color:#FF7777;}
.needq span{text-align:center;line-height:50px; font-size:12px;color:#333;}
.ld .lt td .line{padding:0px;float:left;width:2px;height:33px;line-height:34px;background:url("../images/v1/bg2px.png") no-repeat;}
.ld .lt .b{*background:#D3D1D1;line-height:28px;height:28px;border-spacing:0px;border-top:#B2B2B2 1px solid;border-bottom: #AFAFAF 1px solid;padding:0px}
.ld .lt .b div{font-size:12px;color:#222;background:#D3D1D1;margin-top:1px;padding:2px}
.ld .lt .b button{vertical-align: -1px;line-height:22px;height:26px;font-size:12px;min-width:20px;padding:0px 1px 0px 1px;margin-left:-5px;}
.ld .lt .b input{vertical-align: 0px;line-height:22px;height:18px;font-size:12px;text-align:center}
.ld .lt .showteam td{background:url("../images/v1/left.png") repeat-x 0px -493px;color:#FFF;}

.ld a{color:#21366D;text-decoration: none}
.ld a:hover{color:#21366D;text-decoration:underline}

.ld .st{width:100%;border-spacing:0px;border-left: #ccc 1px solid;border-right: #ccc 1px solid;padding:0px 0px 1px 0px;}
.ld .st td{padding:5px 0px 3px 10px;border:0px;background-color:#ededed;line-height:22px;height:22px;}
.ld .needchangebg{height:31px;line-height:31px}

.ld .ct{width:100%;border:1px solid #EFEFEF;border-collapse: 0px;font-size:12px;background:#FFF}
.ld .ct td{height:42px;}
.ld .nl{width:23%;font-weight:bold;color:#21366D;text-align:right;padding-right:11px}

.ct2{width:96%;border:0px;border-collapse: 0px;font-size:14px;margin:auto;padding-bottom:8px}
.ct2 td{line-height:28px;color:#333;height:32px; font-size:12px;}
.ct2 .nl{width:22.6%;color:#333;text-align:right;padding-right:11px; font-size:12px; font-weight:bold;}
.helpinfo{font-size:12px;padding-left:20px;color:#ff5000;}
.ct2 .w160{width:160px;}


.d450{width:100%;display:inline-block;text-align:left;padding:0px;margin:0px;z-index:1;*display:inline}
.d450 table{width:100%;}
.d450 table td{color:#111}
.d450 .tb1{width:120px;height:80px;line-height:80px;background-color:#4C4C4C;text-align:center;font-family:"Arial","Verdana","宋体" !important;font-size:50px;border:#FFF 6px solid;}
.d450 .tb1 td{width:100%;padding:0px;margin:0px;color:#FFF600;border:#222 1px solid}
.d450 .tb2{margin-left:26px;width:100%;}
.d450 .l1{height:121px;width:2px;background:url('../images/v1/main_header_bg.jpg') -167px -154px no-repeat}
.d450 .t {line-height:0px;}
.d450 .t .tl{height:7px;width:7px;background:url('../images/v1/left.png') -83px -410px no-repeat}
.d450 .t .tr{height:7px;width:7px;background:url('../images/v1/left.png') -91px -410px no-repeat}
.d450 .t .tm{height:6px;border:0px;border-top:#D2D2D2 1px solid;background-color:#ECEEF4;font-size:0px;}
.d450 .mm{width:100%;background-color:#ECEEF4;text-align:left;line-height:16px;color:#FFF;}
.d450 .mm .ml{border-left:#D2D2D2 1px solid;overflow:hidden;font-size:0px;}
.d450 .mm .mr{border-right:#D2D2D2 1px solid;overflow:hidden;font-size:0px;}
.d450 .b {line-height:0px;}
.d450 .b .bl{height:7px;width:7px;background:url('../images/v1/left.png') -99px -410px no-repeat}
.d450 .b .br{height:7px;width:7px;background:url('../images/v1/left.png') -107px -410px no-repeat}
.d450 .b .bm{height:6px;border:0px;border-bottom:#D2D2D2 1px solid;background-color:#ECEEF4;font-size:0px;}
.d450 p{line-height:25px;width:95%}
.d450 a{color:#003399;text-decoration:none}
.d450 a:hover{text-decoration:underline}

/* div_s1 */
.div_s1{width:100%;}
.div_s1 .header{color:#000;font-size:12px;border:#c6c6c6 solid 1px;height:29px;line-height:29px;background:url("../images/v1/left.png") repeat-x 0px -569px; font-weight:bold;}

#tPages{border:0px;height:30px;color:#21366D}
#tPages strong{height:30px;padding: 2px;border:#A9BADC solid 1px;text-align:center;color:#21366D;background:#F0F0F0;margin:1px}
#tPages a{border:#A9BADC solid 1px;color:#21366D;height:30px;padding: 2px;
 text-align:center;text-decoration:none;background:#F3F3F3;margin:1px;font-weight:bold}
#tPages a:hover{border:#A9BADC solid 1px;color:#333333;height:30px;padding: 2px;
 text-align:center;text-decoration:none;background:#FFFFFF;margin:1px;font-weight:bold}
.notice-list{width:100%;padding-left:15px;margin:10px 0 40px 0}
.notice-list li{list-style:none;padding-left:25px;width:80%;line-height:30px;
 border-bottom:1px dashed #EEEEEE !important;border-bottom:1px dotted #EEEEEE;
 background:url("../images/blue/notice_tag.gif") 10px center no-repeat}
.notice-list li a{color:#003399;text-decoration:none}
.notice-list li a:hover{text-decoration:underline}

/* main_box */
#main_box{z-index:0;padding:0px;margin:0px;width:99%;min-height:400px;background:#FFF;position:relative;*height:480px;*width:100%}
#main_box .box{position:absolute;z-index:2}
#main_box .l{top:0;left:0;width:12px;height:186px;background:url('../images/v1/main_bg_0001.jpg') no-repeat 0px -302px;}
#main_box .c{top:0;z-index:1;width:100%;height:9px;background:url('../images/v1/main_bg_0001.jpg') repeat-x -12px -292px;overflow:hidden;}
#main_box .r{z-index:3;top:0;right:0;width:10px;height:186px;background:url('../images/v1/main_bg_0001.jpg') no-repeat -374px -302px;}
#main_box .m{width:97%;z-index:5;margin:20px 0px 0px 16px}

#main_box_s2{z-index:0;padding:0px;margin:0px;width:100%;height:42px;background:url("../images/v1/left.png") repeat-x 0px -525px;
font-size:14px;line-height:36px;color:#4A4A4A}
#main_box_s2 a, #main_box_s2 a:link, #main_box_s2 a:visited,#main_box_s2{text-decoration: none;color:#4A4A4A;}
#main_box_s2 a:hover{color:#F30;}


/* table div style */
.tab-div{margin: 0 0 10px 0}
#tabbar-div{ height:44px; padding-top:8px;}
#tabbar-div .tabbar_bian1{background:url('../images/v1/jiao1.png');height:44px;width:9px;float:left; }
#tabbar-div .tabbar_bianz{background:url('../images/v1/b1.jpg') repeat-x;float:left;height:44px;line-height:44px;width:98%; color:#006837; font-size:16px; font-weight:bold;}
#tabbar-div .tabbar_bian2{background:url('../images/v1/jiao2.png');height:44px;width:9px;float:left; }

#tabbar-div .tab-front{background:#FFF;border-top:1px solid #01723e;line-height: 26px;height:26px;float:left; font-weight: bold;cursor: pointer;color:#333;margin:6px 0px 0px 8px}
#tabbar-div .tab-front .tabbar-left{ border-left:1px solid #01723e;height:26px;width:5px;float:left}
#tabbar-div .tab-front .tabbar-right{border-right:1px solid #01723e;height:26px;width:6px;float:left}
#tabbar-div .tab-back{background:#01723e;line-height: 26px;height:26px;float:left;cursor: pointer;color:#FFF;margin:6px 0px 0px 8px}
#tabbar-div .tab-back .tabbar-left{background:#01723e;height:26px;width:5px;float:left}
#tabbar-div .tab-back .tabbar-right{background:#01723e;height:26px;width:6px;float:left}
#tabbar-div .content{padding:0px 12px;float:left}
.help-content{padding:20px 15px}


.tab-div-s2{width:100%;background-color:#fff;}
.tab-div-s2 .bd{width:100%;border-right: 1px solid #fff;border-left: 1px solid #fff;margin-top:-2px}
.tab-div-s2 .bd2{width:100%;border-right: 1px solid #fff;border-left: 1px solid #fff;border-bottom: 1px solid #fff}

#tabbar-div-s2{height:40px;background:url("../images/v1/left.png") repeat-x 0px -673px;padding-left:10px;}
#tabbar-div-s2 .tab-front{height:34px !important;line-height: 33px;height:33px;float:left;font-weight: bold;cursor: pointer;color:#333;margin:7px 0px 0px 8px}
#tabbar-div-s2 .tab-front .tabbar-left{background:url('../images/v1/icons.png') -16px -28px no-repeat;height:33px;width:7px;float:left}
#tabbar-div-s2 .tab-front .tabbar-right{background:url('../images/v1/icons.png') -24px -28px no-repeat;height:33px;width:7px;float:left}
#tabbar-div-s2 .tab-front .content{font-size:12px;color:#fff;background:url("../images/v1/anniu.jpg");padding:0px 12px;float:left;*height:33px;_vertical-align:bottom;}
#tabbar-div-s2 .tab-back{line-height: 29px;height:33px;float:left;cursor: pointer;color:#FFF;margin:7px 0px 0px 4px !important;margin:6px 0px 0px 8px}
#tabbar-div-s2 .tab-back .tabbar-left{background:url('../images/v1/icons.png') -0px -28px no-repeat;height:33px;width:7px;float:left}
#tabbar-div-s2 .tab-back .tabbar-right{background:url('../images/v1/icons.png') -8px -28px no-repeat;height:33px;width:7px;float:left}
#tabbar-div-s2 .tab-back .content{font-size:12px; background:url(../images/v1/anniu2.jpg) repeat-x;padding:0px 12px;float:left;*height:33px;*vertical-align:bottom}

.tabbar-div-s3{margin-bottom: 6px;}
.tabbar-div-s3 .tab-front{line-height: 33px;height:34px;float:left;cursor: pointer;color:#333;margin:4px 0px 0px 8px}
.tabbar-div-s3 .tab-front .tabbar-left{background:url('../images/v1/icons.png') -33px -28px no-repeat;height:34px;width:12px;float:left}
.tabbar-div-s3 .tab-front .tabbar-right{background:url('../images/v1/icons.png') -46px -28px no-repeat;height:34px;width:6px;float:left}
.tabbar-div-s3 .tab-front .content{background:url("../images/v1/left.png") repeat-x -10px -716px;padding:0px 12px;float:left}
.tabbar-div-s3 .tab-back{line-height: 33px;height:34px;float:left;cursor: pointer;color:#FFF;margin:4px 0px 0px 8px}
.tabbar-div-s3 .tab-back .tabbar-left{background:url('../images/v1/icons.png') -53px -28px no-repeat;height:34px;width:12px;float:left}
.tabbar-div-s3 .tab-back .tabbar-right{background:url('../images/v1/icons.png') -66px -28px no-repeat;height:34px;width:6px;float:left}
.tabbar-div-s3 .tab-back .content{background:url("../images/v1/left.png") repeat-x 0px -752px;padding:0px 12px;float:left}

/* paging */
.pager{height:28px;line-height:28px;}
.pager li{font-size: 12px;text-align: center;margin: 0 2px 0 0;display:inline;}
.pager li a{font-family:Courier New,Arial;color: #58595b;background-color:#f2f2f2;padding: 2px 5px;
text-decoration:none;border: 1px solid #999;border-top: 1px solid #DDD;border-left: 1px solid #DDD;}
.pager li a:hover{border: 1px solid #DDD;border-top: 1px solid #AAA;border-left: 1px solid #AAA;color:#F00;text-decoration: none;}
.pager li.current a{color: #fff;font-weight:bold;border:0;background: #58595b;}

.ds{display:-moz-inline-box}
.ds{border-bottom:solid 1px #333;border-right:solid 1px #333;display:inline-block;vertical-align:middle;*display:inline}
.lsbb{border:solid 1px;border-color:#ccc #999 #999 #ccc;height:22px;display:block}
.lsb{background:#E0E0E0;font:12px arial,sans-serif;border:none;color:#333;cursor:pointer;height:22px;padding-bottom:3px !important;margin:0;outline:0;vertical-align:top}
.ds input{height:22px;line-height:22px;vertical-align:middle;}
.lsb:active{height:22px;background:#FFF}
.lsb:hover{height:22px;background:#FFF}

/* icons */
.icons_mb1{background:url(../images/v1/daohang.jpg) no-repeat; height:50px;width:7px;float:left; padding-right:5px;}
.icons_mb2{background:url('../images/v1/icons.png') -15px 0px no-repeat;height:25px;width:16px;float:left;margin:0px 3px 0px 5px}
.icons_mb3{background:url('../images/v1/icons.png') -33px -3px no-repeat;height:25px;width:15px;float:left;margin:0px 5px 0px 6px}
.icons_mb4{background:url('../images/v1/left.png') -88px -354px no-repeat;height:17px;width:20px;cursor:pointer}
.icons_mb5_s{margin:0 5px 0 0px;background:url('../images/v1/main_header_bg.jpg') -3px -154px no-repeat;height:48px;width:38px;}
.icons_mb5_e{margin:0 5px 0 0px;background:url('../images/v1/main_header_bg.jpg') -41px -154px no-repeat;height:48px;width:38px;}
.icons_mb5_n{margin:0 5px 0 0px;background:url('../images/v1/main_header_bg.jpg') -79px -154px no-repeat;height:48px;width:38px;}
.icons_mb5_q{margin:0 5px 0 0px;background:url('../images/v1/main_header_bg.jpg') -118px -154px no-repeat;height:48px;width:38px;}
.icons_q1{height:13px;width:13px;background:url('../images/v1/icons.png') -2px -95px no-repeat;cursor:pointer;}

/* game */
.d_gh{width:808px;border:#505050 solid 4px}
.d_gh .t_hd{width:100%;border:#FFF solid 1px;background-color:#E3E3E3;text-align:left}
.d_gh .t_hd td{vertical-align:top;padding:0px;margin:0px}
.d_gh .l1{width:470px;*width:480px;}
.d_gh .l1 .d1{font-size:14px;height:26px;line-height:28px}
.d_gh .l1 .i1{margin-left:5px;height:19px;width:18px;background:url('../images/v1/game17.png') 0px -3px no-repeat;}
.d_gh .l1 .i2{height:20px;width:14px;background:url('../images/v1/game17.png') -15px 0px no-repeat}
.d_gh .l1 img{margin-bottom:3px;margin-left:3px}
.d_gh .l1 .hr{margin:4px 0px 3px 5px;border-bottom:1px solid #FFF;border-top:1px solid #C6C6C6;}
.d_gh .l1 .ilt_0{height:20px;width:36px;background:url('../images/v1/game17.png') 0px -21px no-repeat}
.d_gh .l1 .ilt_1{height:20px;width:36px;background:url('../images/v1/game17.png') 0px -42px no-repeat}
.d_gh .l1 .ct_0{height:20px;width:46px;background:url('../images/v1/game17.png') -37px -21px no-repeat}
.d_gh .l1 .ct_1{height:20px;width:46px;background:url('../images/v1/game17.png') -37px -42px no-repeat}
.d_gh .l1 .ct_2{height:20px;width:46px;background:url('../images/v1/game17.png') -37px -63px no-repeat}
.d_gh .l1 .ct_3{height:20px;width:46px;background:url('../images/v1/game17.png') -37px -84px no-repeat}
.d_gh .l1 .ct_4{height:20px;width:46px;background:url('../images/v1/game17.png') -37px -105px no-repeat}
.d_gh .l1 .ct_5{height:20px;width:46px;background:url('../images/v1/game17.png') -37px -126px no-repeat}
.d_gh .l1 .ct_6{height:20px;width:46px;background:url('../images/v1/game17.png') -84px -63px no-repeat}
.d_gh .l1 .ct_7{height:20px;width:46px;background:url('../images/v1/game17.png') -84px -84px no-repeat}
.d_gh .l1 .sp_0{height:20px;width:49px;background:url('../images/v1/game17.png') -84px -21px no-repeat}
.d_gh .l1 .sp_1{height:20px;width:49px;background:url('../images/v1/game17.png') -84px -42px no-repeat}
.d_gh .l1 .btn01{background:url('../images/v1/game17.png') -30px 0px no-repeat;height:20px;width:62px;cursor:pointer}

.d_gh .dz0{padding:5px 0px 0px 8px;line-height:35px;font-size:12px;color:#333}
.d_gh .s00{font-weight:bold;padding:4px 4px;height:23px;line-height:23px;background-color:#000;color:#0F0;border:#BBB 1px solid}
.d_gh .s01{font-weight:bold;padding:4px 4px;height:23px;line-height:23px;background-color:#000;color:#F00;border:#BBB 1px solid}
.d_gh .sbd{margin-left:6px;padding:4px 6px;height:23px;line-height:23px;background:url('../images/v1/main_header_bg.jpg') -389px -65px repeat-x;color:#FFE26D;font-weight:bold;border:#BBBBBB 1px solid;text-align:center}
.d_gh .sbdn{height:23px;line-height:23px;margin:0px 4px;color:#56FFFD;}
.d_gh .nbox{margin-left:6px;padding:3px 7px;height:21px;line-height:21px;color:#666;border:#BBB 1px solid;background-color:#FFF}
.d_gh .sbox{font-weight:bold;font-size:16px;padding:3px 4px;height:23px;line-height:23px;background-color:#000;color:#B4FF00;border:#BBB 1px solid;}


/* style01 */
.d_gh .t_hd .box{float:right;width:324px;height:102px;background:url('../images/v1/main_header_bg.jpg') -201px -95px no-repeat}
.d_gh .t{width:315px;padding:7px 0px 0px 10px;color:#FFCC00;text-align:center;height:43px;line-height:14px;overflow:hidden}
.d_gh .t .nn{color:#FFF;}
.d_gh .t_hd .box table .ww{padding-left:18px;width:63px;*padding-left:18px;}
.d_gh .t_hd .box table .qw{width:64px;}
.d_gh .t_hd .box table .bw{width:63px;}
.d_gh .t_hd .box table .sw{width:63px;}
.d_gh .t_hd .box table .gw{width:40px}
.d_gh .box .n1{height:30px;width:35px;background:url('../images/v1/game17.png') 0px -153px no-repeat}
.d_gh .box .n2{height:30px;width:35px;background:url('../images/v1/game17.png') -36px -153px no-repeat}
.d_gh .box .n3{height:30px;width:35px;background:url('../images/v1/game17.png') -72px -153px no-repeat}
.d_gh .box .n4{height:30px;width:35px;background:url('../images/v1/game17.png') -108px -153px no-repeat}
.d_gh .box .n5{height:30px;width:35px;background:url('../images/v1/game17.png') -144px -153px no-repeat}
.d_gh .box .n6{height:30px;width:35px;background:url('../images/v1/game17.png') 0px -184px no-repeat}
.d_gh .box .n7{height:30px;width:35px;background:url('../images/v1/game17.png') -36px -184px no-repeat}
.d_gh .box .n8{height:30px;width:35px;background:url('../images/v1/game17.png') -72px -184px no-repeat}
.d_gh .box .n9{height:30px;width:35px;background:url('../images/v1/game17.png') -108px -184px no-repeat}
.d_gh .box .n0{height:30px;width:35px;background:url('../images/v1/game17.png') -144px -184px no-repeat}
.d_gh .box .nr{margin-top:-15px;height:58px;width:35px;background:url('../images/v1/loading001.gif') 0px 0px;overflow:hidden;position:absolute;}
.d_gh .tad{width:317px; margin-top:-21px; margin-left:3px;text-align:center;height:70px;overflow:hidden; position:absolute;}
.d_gh .tad img{width:317px; height:70px; border:0;}

/* style02 */
.d_gh .t_hd .box11{float:right;width:324px;height:102px;background:url('../images/v1/main_header_bg.jpg') -201px -198px no-repeat}
.d_gh .t_hd .box11 table td{ padding-top:3px;}
.d_gh .t_hd .box11 table .ww{padding-left:37px;width:58px;}
.d_gh .t_hd .box11 table .qw{width:56px}
.d_gh .t_hd .box11 table .bw{width:57px;}
.d_gh .t_hd .box11 table .sw{width:57px;}
.d_gh .t_hd .box11 table .gw{width:40px}
.d_gh .box11 .n1{height:24px;width:24px;background:url('../images/v1/game17.png') 0px -434px no-repeat}
.d_gh .box11 .n2{height:24px;width:24px;background:url('../images/v1/game17.png') -25px -434px no-repeat}
.d_gh .box11 .n3{height:24px;width:24px;background:url('../images/v1/game17.png') -50px -434px no-repeat}
.d_gh .box11 .n4{height:24px;width:24px;background:url('../images/v1/game17.png') -75px -434px no-repeat}
.d_gh .box11 .n5{height:24px;width:24px;background:url('../images/v1/game17.png') -100px -434px no-repeat}
.d_gh .box11 .n6{height:24px;width:24px;background:url('../images/v1/game17.png') -125px -434px no-repeat}
.d_gh .box11 .n7{height:24px;width:24px;background:url('../images/v1/game17.png') -150px -434px no-repeat}
.d_gh .box11 .n8{height:24px;width:24px;background:url('../images/v1/game17.png') 0px -460px no-repeat}
.d_gh .box11 .n9{height:24px;width:24px;background:url('../images/v1/game17.png') -25px -460px no-repeat}
.d_gh .box11 .n10{height:24px;width:24px;background:url('../images/v1/game17.png') -50px -460px no-repeat}
.d_gh .box11 .n11{height:24px;width:24px;background:url('../images/v1/game17.png') -75px -460px no-repeat}
.d_gh .box11 .nr{margin-top:8px;height:11px;width:26px;background:url('../images/v1/loading008.gif') 0px 0px  no-repeat;overflow:hidden; position:absolute;}


.d_gh .bd{background-color:#3F3F3F;width:100%;border:1px solid #1C1C1C;margin-top:-2px;border-top:0px}
.d_gh .bd2{width:100%;border:1px solid #5D5C5C;*border-top:0px;}
.d_gh .bl3p{height:3px;width:100%;background:url('../images/v1/game17.png') 0px -215px repeat-x;overflow:hidden;}
.d_gh .bl3p2{height:3px;width:100%;background:url('../images/v1/game17.png') 0px -219px repeat-x;margin-top:10px;overflow:hidden;}
.d_gh .bl3p3{height:3px;width:100%;background:url('../images/v1/game17.png') 0px -215px repeat-x;overflow:hidden;}
.d_gh .lkb{width:100%;min-height:50px;background-color:#5B5B5B}
.d_gh .box01{padding-right:10px;text-align:right;border:0px;border-bottom: #2E2E2E 1px solid;background-color:#FFFBD2;height:34px;line-height:34px;color:#333}
.d_gh .box01 .n{color:#f00;font-weight:bold}
.d_gh .box01 .b{width:36px;color:#f00;text-align:center}

.d_gh .lkb{padding:10px 0;line-height:40px;vertical-align:middle}
.d_gh .lkb div{float:left}
.d_gh .lkb .c{clear:both;float:none}
.d_gh .lkb .nbs{padding-left:18px;*padding-left:12px;font-family:YaHeiConsolas,"Microsoft YaHei","宋体" !important}
.d_gh .lkb .nbs .ti{margin-top:3px;text-align:center;padding-left:4px;font-size:18px;height:38px;background:url('../images/v1/game17.png') -14px -247px repeat-x;letter-spacing:1px;*width:88px;overflow:hidden;*text-align:left;}
.d_gh .lkb .nbs .ti .l{margin-right:4px;float:left;height:38px;width:14px;background:url('../images/v1/game17.png') 0px -247px no-repeat;}
.d_gh .lkb .nbs .ti .r{float:right;height:38px;width:13px;background:url('../images/v1/game17.png') -150px -247px no-repeat;*margin-top:-40px;}
.d_gh .lkb .nbs .nb{padding-left:16px;font-size:16px}
.d_gh .lkb .nbs .nb span{display:block;padding:0px;margin:0px;float:none;clear:both;}
.d_gh .lkb .nbs .nb div{color:#000;cursor:pointer;font-weight:bold;padding-top:2px;text-align:center;height:44px;width:41px;background:url('../images/v1/game17.png') -4px -285px no-repeat;*padding-top:0px;*margin-top:2px;}
.d_gh .lkb .nbs .nb .on{color:#FFF;height:44px;width:41px;background:url('../images/v1/game17.png') -47px -285px no-repeat}
.d_gh .lkb .nbs .ha .ds{margin:2px 0px 2px 12px}
.d_gh .lkb .nbs .ha .ds input{width:90px;letter-spacing:1px}
.d_gh .lkb .nbs TEXTAREA{font-family:"宋体";width:580px;min-height:82px;font-size:14px;*height:82px;}

.d_gh .lkb .nbs .bl{padding-left:85px;font-weight:bold;font-size:16px;font-family:YaHeiConsolas,"Microsoft YaHei","宋体" !important}
.d_gh .lkb .nbs .bl span{display:block;padding:0px;margin:0px;float:none;clear:both;}
.d_gh .lkb .nbs .bl div{margin-left:5px;line-height:44px;color:#222;cursor:pointer;font-weight:bold;text-align:center;height:44px;width:84px;background:url('../images/v1/game17.png') -2px -538px no-repeat;}
.d_gh .lkb .nbs .bl .on{color:#FFF;height:44px;width:84px;background:url('../images/v1/game17.png') -92px -538px no-repeat}


.d_gh .lkb .nbs .to{margin-left:40px;line-height:32px;height:32px;font-family:"宋体"}
.d_gh .lkb ul{height:32px;background:url('../images/v1/main_header_bg.jpg') -633px -65px repeat-x;padding:0px;margin:6px 0px;display:inline;float:left}
.d_gh .lkb ul li{cursor:pointer;list-style:none;float:left;padding-left:5px;padding-right:4px;font-size:14px;color:#333}
.d_gh .lkb .l{height:32px;width:15px;background:url('../images/v1/main_header_bg.jpg') -586px -65px no-repeat}
.d_gh .lkb .r{height:32px;width:11px;background:url('../images/v1/main_header_bg.jpg') -911px -65px no-repeat}
.d_gh .lkb ul .on{text-align:right;color:#FFF;height:26px;width:14px;background:url('../images/v1/game17.png') -151px -296px no-repeat;overflow:hidden;}
.d_gh .zdinfo{width:100%;padding-top:12px;padding-bottom:16px;background-color:#474747}

.d_gh .zdbox{margin-left:6px;width:568px;border:#1E1E1E 1px solid;height:auto;background-color:#242424;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#242424,direction=120,strength=1);
-moz-box-shadow: 1px 1px 4px #242424;-webkit-box-shadow: 1px 1px 4px #242424}

.zdbox .he{width:100%;height:30px;line-height:30px;background:#242424;color:#C7C7C7}
.zdbox .ti{padding-left:14px;float:left;line-height:30px;font-size:14px;font-weight:bold;_margin-top:8px;}
.zdbox .cl{float:right;padding-right:5px;line-height:30px;font-size:12px;cursor:pointer}
.zdbox .bo{width:100%;line-height:24px;padding:0px;margin:0px;border:#F5D314 1px solid;color:#111}
.zdbox .bo .r{text-align:right;}
.zdbox .bo .c{text-align:right;padding-right:4px;cursor:pointer}
.zdbox .bo td{border-top:#F5D314 1px solid;border-bottom:#B77E3B 1px solid;background-color:#EBAB00;line-height:24px}
.zdbox .bo .on td{background-color:#FFC93C}
.zdbox .bo .nr td{text-align:center;border-top:#F5D314 1px solid;border-bottom:#B77E3B 1px solid;background-color:#FFC93C;line-height:24px;color:#222}
.zdbox .hid{visibility: hidden;height:0px;line-height:0px}
.zdbox .hid td{visibility:hidden;height:0px;line-height:0px;border:0px}

.d_gh .zdinfo .info{width:202px;padding-right:8px;vertical-align:bottom}
.info .hd1{height:82px;width:202px;background:url('../images/v1/main_header_bg.jpg') -528px -99px no-repeat}
.info .hd1 .r{color:red;font-weight:bold}
.info .hd1 div{padding:3px 0px 2px 5px;line-height:20px}
.info SELECT{font-size:12px;width:143px}
.info .hd2{text-align:right;padding:6px 0px}
.info .hd2 .sg{height:67px;width:157px;background:url('../images/v1/main_header_bg.jpg') -733px -99px no-repeat}


.d_zh{width:100%}
.d_zh .info{margin-top:10px}
.d_zh .info label{vertical-align:bottom;padding:0px 0px 0px 15px;color:#FFF}

.zhgen{padding:6px 10px;border-left:#2B2B2B 1px solid;border-bottom:#2B2B2B 1px solid;border-right:#2B2B2B 1px solid;color:#FFF;line-height:28px;}
.zhgen .y{color:#FFC93C}
.zhgen #lt_trace_labelhtml input{color:red;text-align:center}

.zhlist{height:280px;overflow:scroll;overflow-x:hidden;background-color:#272727;border-left:#2B2B2B 1px solid;border-right:#2B2B2B 1px solid;*width:806px;}
.zhlist table{border:0px;color:#C9C9C9;background-color:#373737}
.zhlist table td{border-bottom:#2E2E2E 1px solid;line-height:28px}
.zhlist table tr{cursor:pointer;}
.zhlist table .r1{width:70px;padding-left:10px}
.zhlist table .r2{padding:0;margin:0 6px 0 0;text-align:center;border:0px;color:#999;height:15px;width:35px;background:url('../images/v1/game17.png') -111px -307px no-repeat}
.zhlist table .on .r2,.zhlist table .hv .r2{color:red;font-weight:bold}
.zhlist table .on td{color:#FC0;background-color:#485257}
.zhlist table .hv td{color:#FC0;background-color:#373F42}


/* xwin */
.mdl span,.mdl div{display:block;background-image:url('../images/v1/xwin.png');}
.mdl{width:80%;overflow:hidden;position:relative;margin:10px;padding:38px 7px 12px 7px;font:12px;}
.mdl h3{position:absolute;top:9px;left:20px;z-index:3;margin:0;font-size:14px;color:#FFF;letter-spacing:1px}
.mdl h4{font-size:12px;background:#FFF;padding:3px 60px 5px 5px;margin:0;font-weight:normal;text-align:center;border-bottom:#CCC 1px dotted;line-height:18px;}
.mdl_t_l,.mdl_t_c,.mdl_t_r,.mdl_c_l,.mdl_c_r,.mdl_b_l,.mdl_b_c,.mdl_b_r,.mdl_clo{position:absolute;z-index:2;}
.mdl .mdl_t_l{top:0;left:0;width:12px;height:38px;background-position:-7px -38px;}
.mdl .mdl_t_c{top:0;left:4px;z-index:1;width:100%;height:38px;background-position:0 0;}
.mdl .mdl_t_c span{height:38px;background-position:-57px 0;}
.mdl .mdl_t_r{top:0;right:0px;width:12px;height:38px;background-position:-95px -38px;}
.mdl .mdl_c_l{top:0;left:0;z-index:1;width:7px;background-position:left top;margin-top:2px;}
.mdl .mdl_c_l span{width:7px;height:2000px;background-position:left -86px;}
.mdl table{width:100%;background-color:#FFF;}
.mdl table td{background:#FFF;padding:3px 5px;text-align:left;line-height:16px;}
.mdl .mdl_c_r{top:0;right:0;z-index:1;width:7px;background-position:right top;}
.mdl .mdl_c_r span{width:7px;height:2000px;background-position:right -86px;}
.mdl .mdl_b_l{bottom:0;left:0;width:12px;height:12px;background-position:-7px -76px;}
.mdl .mdl_b_c{bottom:0;*left:2px;z-index:1;width:100%;height:12px;background-position:0 -124px;}
.mdl .mdl_b_c span{bottom:0;height:12px;background-position:-57px -124px;}
.mdl .mdl_b_r{bottom:0;right:0;width:12px;height:12px;background-position:-19px -76px;}
.mdl .mdl_clo{top:2px;right:8px;z-index:10;color:#FFF;background-image:none;}
.mdl .mdl_clo .c1{height:26px;cursor:pointer;width:35px;background:url('../images/v1/xwin.png') -44px -90px no-repeat}
.mdl .mdl_clo .c2{height:26px;width:35px;background:url('../images/v1/xwin.png') -8px -90px no-repeat}
.mdl .data, .mdl .chat{background:#F4F4F4;float:none;background-image:none;height:130px;overflow:scroll;overflow-x:hidden;border-bottom:#CCC 1px dotted;*width:99%}
.mdl .data table{table-layout:fixed;}
.mdl .data table td{*padding-right:16px;background:#F4F4F4;color:#666;line-height:14px;word-break:break-all;word-wrap:break-word;}

.mdl .chat {padding:3px 0px;background:#B5B2B5;height:300px;border-top:#CCC 1px dotted;}
.mdl .chat table td{padding:0px;margin:0px;}
.mdl .ta0{font-size:12px;line-height:16px;width:490px;}
/*
.mdl .chat table{table-layout:fixed;background:#B5B2B5;}
.mdl .chat table td{*padding-right:16px;background:#B5B2B5;line-height:14px;word-break:break-all;word-wrap:break-word;}
*/

/* cbox0 */
.chat .cboxb {width:550px;margin:0px;padding:0px 20px 8px 8px;background:none;}
.chat .cboxb .msbox{width:550px;}
.chat .cboxb .msbox,.chat .cboxy .msbox{display:inline-block;text-align:left;padding:0px;margin:0px;z-index:1;*display:inline;}
.chat .cboxb .ti,.chat .cboxy .ti{border-bottom:#bbb 1px solid;margin-bottom:5px;}
.chat .cboxb .msbox td{background-color:#CEE7F7;line-height:18px;color:#333;}
.chat .cboxb .msbox .t .tl{height:8px;width:8px;background:url('../images/v1/game17.png') -74px -486px no-repeat}
.chat .cboxb .msbox .t .tr{height:8px;width:8px;background:url('../images/v1/game17.png') -83px -486px no-repeat}
.chat .cboxb .msbox .t .tm{margin:0px;height:8px;background:url('../images/v1/game17.png') 0px -585px repeat-x;overflow:hidden}
.chat .cboxb .msbox .mm{width:100%;background-color:#CEE7F7;text-align:left;line-height:16px;}
.chat .cboxb .msbox .mm .ml{border-left:#8B8B8B 1px solid;overflow:hidden;font-size:0px;}
.chat .cboxb .msbox .mm .mr{border-right:#8B8B8B 1px solid;overflow:hidden;font-size:0px;}
.chat .cboxb .msbox .ic{overflow:hidden;margin-right:6px;margin-top:3px;float:left;}
.chat .cboxb .msbox .b .bl{height:8px;width:8px;background:url('../images/v1/game17.png') -92px -486px no-repeat}
.chat .cboxb .msbox .b .br{height:8px;width:8px;background:url('../images/v1/game17.png') -101px -486px no-repeat}
.chat .cboxb .msbox .b .bm{background-color:#CEE7F7;border-bottom:#8B8B8B 1px solid;*height:4px;*overflow:hidden;*font-size:0px;}
.chat .cboxb .msbox .ar {position:relative;bottom:5px;left:6px;}
.chat .cboxb .msbox .ar .ic{position:absolute;z-index:5;height:10px;width:10px;background:url('../images/v1/game17.png') -110px -484px no-repeat }


/* cbox1 */
.chat .cboxy {width:550px;margin:0px;padding:0px 8px 8px 20px;background:none;}
.chat .cboxy .msbox{width:550px;}
.chat .cboxy .msbox td{background-color:#FFFFD8;line-height:18px;color:#7D2000;}
.chat .cboxy .msbox .t .tl{height:8px;width:8px;background:url('../images/v1/game17.png') -121px -486px no-repeat}
.chat .cboxy .msbox .t .tr{height:8px;width:8px;background:url('../images/v1/game17.png') -130px -486px no-repeat}
.chat .cboxy .msbox .t .tm{margin:0px;height:8px;background:url('../images/v1/game17.png') 0px -594px repeat-x;overflow:hidden}
.chat .cboxy .msbox .mm{width:100%;background-color:#FFFFD8;text-align:left;line-height:16px;}
.chat .cboxy .msbox .mm .ml{border-left:#8B8B8B 1px solid;overflow:hidden;font-size:0px;}
.chat .cboxy .msbox .mm .mr{border-right:#8B8B8B 1px solid;overflow:hidden;font-size:0px;}
.chat .cboxy .msbox .ic{overflow:hidden;margin-right:6px;margin-top:3px;float:left;}
.chat .cboxy .msbox .b .bl{height:8px;width:8px;background:url('../images/v1/game17.png') -139px -486px no-repeat}
.chat .cboxy .msbox .b .br{height:8px;width:8px;background:url('../images/v1/game17.png') -148px -486px no-repeat}
.chat .cboxy .msbox .b .bm{background-color:#FFFFD8;border-bottom:#8B8B8B 1px solid;*height:4px;*overflow:hidden;*font-size:0px;}
.chat .cboxy .msbox .ar {position:relative;bottom:5px;left:536px;}
.chat .cboxy .msbox .ar .ic{position:absolute;z-index:5;height:10px;width:10px;background:url('../images/v1/game17.png') -157px -484px no-repeat }


.mdl .binfo,.mdl .binfo span{display:block;background-image:none;float:left;}
.mdl .binfo .bbl{height:27px;width:9px;background:url('../images/v1/main_header_bg.jpg') -3px -204px no-repeat;}
.mdl .binfo .bbr{height:27px;width:9px;background:url('../images/v1/main_header_bg.jpg') -13px -204px no-repeat;}
.mdl .binfo .bbm{padding:0px 6px;background-color:#4B4B4B;display:block;text-align:right;height:27px;line-height:27px;color:#FC3}

.hr1{background:url('../images/v1/main_header_bg.jpg') no-repeat 0px -302px;height:2px;width:650px;overflow: hidden;margin:5px 0px}
.mdl .zdinfo {background:#fff;color:#000;padding-left:10px;}
.mdl .zdinfo div{background:none;}
.mdl .zdinfo table{margin:0px;padding:0px;}
.mdl .zdinfo table td{background:#fff;height:14px;line-height:14px}
.mdl .zdinfo table .th td{height:36px;line-height:36px;padding:0px;margin:0px}
.mdl .zdinfo table .d td{background:#F9F9F9;line-height:30px;text-align:center}
.mdl .zdinfo table td span{background:none;display:inline;color:#1567bc}
.mdl .zdinfo textarea{font-size:12px;}
.mdl .zdinfo .t1{border:#a3b8cd 1px solid;background-color:#fff;font-size:12px;padding:3px;}



/* fbox */
.fbox{display:inline-block;text-align:left;padding:0px;margin:0px;z-index:1;*display:inline;}
.fbox .t .tl{height:5px;width:5px;background:url('../images/v1/game17.png') 0px -489px no-repeat}
.fbox .t .tr{height:5px;width:5px;background:url('../images/v1/game17.png') -6px -489px no-repeat}
.fbox .t .tm{margin:0px;height:5px;background:url('../images/v1/game17.png') 0px -496px repeat-x;overflow:hidden}
.fbox .mm{width:100%;background-color:#CCC;text-align:left;line-height:16px;}
.fbox .mm .ml{border-left:#222 1px solid;overflow:hidden;font-size:0px;}
.fbox .mm .mr{border-right:#222 1px solid;overflow:hidden;font-size:0px;}
.fbox .in{margin-top:6px;margin-left:3px;}
.fbox .ic{overflow:hidden;margin-right:6px;margin-top:3px;float:left;height:10px;width:10px;background:url('../images/v1/game17.png') -27px -485px no-repeat}
.fbox .b .bl{height:5px;width:5px;background:url('../images/v1/game17.png') -12px -489px no-repeat}
.fbox .b .br{height:5px;width:5px;background:url('../images/v1/game17.png') -18px -489px no-repeat}
.fbox .b .bm{background-color:#CCC;border-bottom:#222 1px solid;*height:4px;*overflow:hidden;*font-size:0px;}
.fbox .ar {position:relative;bottom:8px;left:30px;}
.fbox .ar .ic{position:absolute;z-index:5;height:11px;width:15px;background:url('../images/v1/game17.png') -103px -502px no-repeat }
.fbox .ta{width:210px;height:50px;background-color:#CCC;font-size:12px;font-weight:lighter;}


.ibox{display:inline-block;text-align:left;padding:0px;margin:0px;z-index:1;*display:inline;}
.ibox .t .tl{height:5px;width:4px;background:url('../images/v1/game17.png') -50px -488px no-repeat}
.ibox .t .tr{height:5px;width:4px;background:url('../images/v1/game17.png') -55px -488px no-repeat}
.ibox .t .tm{height:5px;background:url('../images/v1/game17.png') 0px -514px repeat-x}
.ibox .mm{width:100%;background-color:#656565;text-align:left;line-height:16px;color:#FFF;}
.ibox .mm .ml{border-left:#222 1px solid;overflow:hidden;font-size:0px;}
.ibox .mm .mr{border-right:#222 1px solid;overflow:hidden;font-size:0px;}
.ibox .mm .cy{color:#FC0}
.ibox .b .bl{height:3px;width:4px;background:url('../images/v1/game17.png') -60px -490px no-repeat}
.ibox .b .br{height:3px;width:4px;background:url('../images/v1/game17.png') -65px -490px no-repeat}
.ibox .b .bm{background-color:#656565;border-bottom:#222 1px solid;*height:2px;*overflow:hidden;*font-size:0px;}
.ibox .ar{position:relative;bottom:3px;left:30px;}
.ibox .ar .ic{position:absolute;z-index:5;height:11px;width:30px;background:url('../images/v1/game17.png') -73px -524px no-repeat;}

