<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="php" />
            <add name="php" path="*.php" verb="*" modules="IsapiModule" scriptProcessor="D:\php\php5isapi.dll" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="default.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
