@charset "gb2312";

.news {
    color: #101010;
    margin: 16px auto auto;
    width: 980px;
}
.news ul {
    background: rgba(0, 0, 0, 0) url("../img/n_bg.gif") repeat scroll 0 36px;
    float: left;
    height: 232px;
    list-style: outside none none;
    margin: 16px 17px 0 0;
    padding: 0;
    width: 310px;
}
.news .r {
    margin-right: 0;
}
.news ul h2 {
    background: rgba(0, 0, 0, 0) url("../img/title.png") no-repeat scroll 0 0;
    color: #999797;
    font-size: 14px;
    height: 40px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    text-indent: 40px;
}
.news ul h2 a {
    color: #6d6d6d;
    font-size: 14px;
    height: 36px;
    margin: 0 0 10px;
    padding: 0;
    text-decoration: none;
    text-indent: 36px;
}
.news ul li {
    margin-left: 10px;
}
.news ul li a {
    color: #6d6d6d;
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
}
.news ul li a:hover {
    color: #cd0000;
    text-decoration: underline;
}
.clear {
    clear: both;
}
.link {
    background: rgba(0, 0, 0, 0) url("../img/hd_shadow.png") repeat-x scroll 0 0;
    clear: both;
    height: 136px;
    margin: 16px auto auto;
    width: 990px;
}
.flink {
    background: rgba(0, 0, 0, 0) url("../img/link.gif") repeat scroll 0 0;
    float: left;
    height: 18px;
    overflow: hidden;
    width: 19px;
}
.flink h3 {
    height: 36px;
    padding-top: 36px;
}
.flinkr {
    margin: 10px 10px 5px;
}
.links {
    background: rgba(0, 0, 0, 0) url("../img/flinkbg.gif") repeat-x scroll 0 0;
    clear: both;
    height: 102px;
    width: 966px;
}
.links ul {
    margin: 10px;
    padding: 0;
}
.links ul li {
    float: left;
    line-height: 22px;
    list-style: outside none none;
    padding: 0;
    width: 93px;
}
.links ul li a {
    color: #666;
    font-size: 12px;
    text-decoration: none;
}
.links ul li a:hover {
    color: #999;
}
.tags {
    background: #eaeaea none repeat scroll 0 0;
    border-color: #eaeaea;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    line-height: 22px;
    margin: auto;
    width: 650px;
}
.zs {
    background: #ffffff none repeat scroll 0 0;
    height: 75px;
    margin: auto;
    padding-top: 25px;
    text-align: center;
    width: 966px;
}
.footer {
    background: rgba(0, 0, 0, 0) url("../img/footer.gif") repeat-x scroll 0 0;
    clear: both;
    color: #ffffff;
    height: 105px;
    margin: auto;
    text-align: center;
    width: 966px;
}
.footer .left {
    background: rgba(0, 0, 0, 0) url("../img/footerl.gif") repeat scroll 0 0;
    float: left;
    height: 105px;
    width: 11px;
}
.footer .right {
    background: rgba(0, 0, 0, 0) url("../img/footerr.gif") repeat scroll 0 0;
    float: right;
    height: 105px;
    width: 11px;
}
.footer .copyright {
    color: #606060;
    float: left;
    font-size: 12px;
    line-height: 28px;
    padding-top: 10px;
    text-align: center;
    width: 920px;
}
.footer .copyright a {
    color: #606060;
    text-decoration: none;
}
.footer .copyright a:hover {
    color: #606060;
}
.footer .copyright p {
    color: #606060;
    margin: 0;
    padding: 0;
}
